<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" media="all" href="bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" media="all" href="bootstrap/jquery-ui/jquery-ui.css" />

        <script src="bootstrap/js/jquery.js" ></script>
        <script src="bootstrap/jquery-ui/jquery-ui.js" ></script> 
        <script src="bootstrap/js/bootstrap.js" ></script> 
        <script src="javascript.js" ></script>

        <link href="css/estilo.css" rel="stylesheet" type="text/css" media="screen">
        <title>Nippes Estamparia</title>
    </head>

    <body>
        <header class="century">
            <nav>
                <figure class="fig">
                    <img class="logotipo" src="img/logo.png" width="100px" height="25px" /> <b class="font15px">| ESTAMPARIA </b>
                    <ul class="cabecalhotopo">
                        <li><a href="cadastro.html"> LOGIN | CRIE SUA CONTA</a></li>
                        <li><a>Facebook | Google </a></li>
                    </ul>			
                    <br>
                </figure>			
                <ul class="cabecalho">
                    <li><a href="home.html" style="text-decoration:none"> HOME </a></li>
                    <li><a href="pedidos.html" style="text-decoration:none"> PEDIDOS</a></li>
                    <li><a href="catalogo.html" style="text-decoration:none"> CATÁLOGO</a></li>
                    <li><a href="faleconosco.html" style="text-decoration:none"> CONTATO</a></li>
                    <li class="margin-left40"><a href="cadastro.html" style="text-decoration:none"></a></li>					
                    <div class="padding10">
                        <input type="text"/>
                        <button>I</button>
                    </div>				
                    <img class="carrinho" src="img/carrinho2.png" width="30px"/>
                </ul>
            </nav>
        </header>
        <section>
            <div id="cadastrar" class="container">
                <form class="form" method="POST" action="cadastrar.php">
                    <fieldset class="col-md-4 scheduler-border padding-bottom4">
                        <h1 class="century font33px">CADASTRE-SE</h1><br>
                        <fieldset>
                            <legend>Informações Pessoais</legend>
                            <div class="form-group">
                                <label for="nome">Nome completo: </label>
                                <input type="text" class="form-control focused" id="nome" name="nome" data-toggle="tooltip" title="Preencha seu nome completo" data-placement="bottom" />
                            </div>
                            <div class="form-group">
                                <label for="cpf">CPF: </label>
                                <input type="text" class="form-control focused" id="cpf" name="cpf" data-toggle="tooltip" title="Preencha seu CPF" data-placement="bottom" />
                            </div>
                            <div class="form-group">
                                <label for="sexo">Sexo: </label>
                                <select class="form-control focused" id="sexo" name="sexo" data-toggle="tooltip" title="Informe seu sexo masculino/feminino" data-placement="bottom" >
                                    <option value="0">Selecione uma opição...</option>
                                    <option value="fem">Feminino</option>
                                    <option value="mas">Masculino</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="datepicker1">Data de nascimento </label>
                                <div class='input-group date'>
                                    <input type='text' id="datepicker1" class="form-control" data-toggle="tooltip" title="Informe sua data de nascimento" data-placement="bottom" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>	
                            <div class="form-group">
                                <label for="telefone">Telefone: </label>
                                <input type="text" class="form-control focused" id="telefone" name="tel" data-toggle="tooltip" title="Informe seu telefone" data-placement="bottom" />
                            </div>
                            <div class="form-group">
                                <label for="telefone">Telefone 2: </label>
                                <input type="text" class="form-control focused" id="telefone2" name="tel2" data-toggle="tooltip" title="Informe outro telefone(opicional)" data-placement="bottom" />
                            </div>
                            <fieldset>
                                <legend>Endereço </legend>
                                <div class="form-group">
                                    <label for="cep">CEP: </label>
                                    <input type="text" class="form-control focused" id="cep" name="cep" data-toggle="tooltip" title="Informe o CEP da sua Rua/Cidade" data-placement="bottom" />
                                </div>
                                <div class="form-group">
                                    <label for="cep">Rua: </label>
                                    <input type="text" class="form-control focused" id="rua" name="rua" data-toggle="tooltip" title="Informe sua Rua" data-placement="bottom" />
                                </div>
                                <div class="form-group">
                                    <label for="cep">Número: </label>
                                    <input type="text" class="form-control focused" id="numero" name="numero" data-toggle="tooltip" title="Informe o número da sua moradia" data-placement="bottom" />
                                </div>
                                <div class="form-group">
                                    <label for="cep">Cidade: </label>
                                    <input type="text" class="form-control focused" id="cidade" name="cidade" data-toggle="tooltip" title="Informe a Cidade" data-placement="bottom" />
                                </div>
                                <div class="form-group">
                                    <label for="cep">Estado: </label>
                                    <input type="text" class="form-control focused" id="estado" name="estado" data-toggle="tooltip" title="Informe o estado" data-placement="bottom" />
                                </div>
                            </fieldset>
                        </fieldset>
                        <fieldset>
                            <legend>Informações da conta</legend>
                            <div class="form-group">
                                <label for="email">E-mail: </label>
                                <input type="text" class="form-control focused" id="email" name="email" data-toggle="tooltip" title="Preencha seu e-mail/LOGIN" data-placement="bottom" />
                            </div>
                            <div class="form-group">
                                <label for="RepetirEmail">Confirme seu e-mail: </label>
                                <input type="text" class="form-control focused" id="RepetirEmail" name="ReEmail" data-toggle="tooltip" title="Confirme seu e-mail/LOGIN" data-placement="bottom" />
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha: </label>
                                <input type="password" class="form-control focused" id="senha" name="senha" data-toggle="tooltip" title="Preencha sua senha" data-placement="bottom" />
                            </div>
                            <div class="form-group">
                                <label for="RepetirSenha">Confirme sua senha: </label>
                                <input type="password" class="form-control focused" id="RepetirSenha" name="ReSenha" data-toggle="tooltip" title="Confirme sua senha" data-placement="bottom" />
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <input class="col-md-6 btn btn-primary" type="submit" value="Cadastrar" data-toggle="tooltip" title="Clique aqui para se cadastrar" data-placement="bottom" />
                        </div>
                    </fieldset>
                </form>
            </div>	

            <div class="col-md-4 absolute"></div>
            <fieldset class="col-md-3 logindireita">
                <h1 class="whitecolor">Faça Login!</h1><br>
                <form>
                    <legend class="scheduler-border">Login</legend>
                    <div class="form-group"> 
                        <label for="usuario">Login: </label>
                        <input type="text" class="form-control focused" id="usuario" name="usuario" data-toggle="tooltip" title="Preencha seu e-mail/LOGIN para entrar" data-placement="bottom" />
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha: </label>
                        <input type="password" class="form-control focused" id="senha" name="senha" data-toggle="tooltip" title="Preencha sua senha para entrar" data-placement="bottom" />
                    </div>
                    <div class="form-group">
                        <input class="col-lg-6 col-md-6 col-sm-6 col-xs-6 btn btn-primary" type="submit" value="Entrar" data-toggle="tooltip" title="Clique aqui para ENTRAR" data-placement="bottom" />
                    </div>
            </fieldset>
        </form>	
    </div>
</section>





<footer class="rodape">
    <legend><p class="textcenter">© RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA TEL:(15)32025270 | E-MAIL: NIPPES@HOTMAIL.COM </p></legend>
    <figure class="textcenter">
        <figcaption class="textcenter">CONECTE-SE</figcaption>
        <img src="img/iconeeees.png" width="300px" height="75px" alt="icones"  class="textcenter" />
    </figure> <p class="textcenter"> Home | Catalogo | Pedidos | Login | Sobre Nós </p>
    <p class="textcenter"> © RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA TEL:(15)32025270 | E-MAIL: NIPPES@HOTMAIL.COM </p>


</footer>
</body>
</html>