<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" media="all" href="bootstrap/css/bootstrap.css" />
        <script type="text/javascript" src="bootstrap/js/jquery.js" ></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.js" ></script> 

        <link href="css/estilo.css" rel="stylesheet" type="text/css" media="screen">
        <title>Nippes Estamparia</title>
    </head>

    <body>

        <header class="century">
            <nav class="first">
                <img class="logotipo" src="img/logo.png"/> <b class="font15px">| ESTAMPARIA </b>
                <ul class="cabecalhotopo">
                    <li><a href="cadastro.html"> LOGIN | CRIE SUA CONTA</a></li>
                    <li><a>Facebook | Google </a></li>
                </ul>		
            </nav>
            <nav class="firstcabecalho">
                <ul class="cabecalho">
                    <li><a href="home.html"> HOME </a></li>
                    <li><a href="pedidos.html"> PEDIDOS</a></li>
                    <li><a href="catalogo.html"> CATÁLOGO</a></li>
                    <li><a href="faleconosco.html"> CONTATO</a></li>
                    <li><a href="SobreNos.html"> SOBRE</a></li>
                </ul>
                <div class="pesquisa absolute">
                    <input type="text"/>
                    <button>I</button>

                    <img class="carrinho relative" src="img/carrinho2.png" /> 
                </div>	
            </nav>
        </header>
        <section class="faleconosco">
            <h1>FALE CONOSCO!</h1>
            <article>				
                <form class="form" method="POST" action="pedido.php">
                    <fieldset class="col-md-3 scheduler-border">
                        <fieldset>
                            <div class="form-group">
                                <label for="nome">SEU NOME: </label>
                                <input type="text" class="form-control focused" id="nome" name="nome" data-toggle="tooltip" title="Nome do Usuário" data-placement="bottom" />
                            </div>				
                            <h3 class="font13px">Campo Obrigatório</h3>
                            <option value=""></option>
                            <option value=""></option>

                            <div class="form-group">
                                <label for="nome">SEU E-MAIL: </label>
                                <input type="text" class="form-control focused" id="email" name="email" data-toggle="tooltip" title="Email do Usuário" data-placement="bottom" />
                            </div>				
                            <h3 class="font13px">Campo Obrigatório</h3>
                            <option value=""></option>
                            <option value=""></option>
                            <div class="form-group">
                                <label for="descricao">SUA MENSAGEM: </label>

                                <textarea type="text" class="form-control focused" id="mensagem" name="mensagem" data-toggle="tooltip" title="Insira uma mensagem" data-placement="bottom" ></textarea>
                            </div>
                        </fieldset>
                        <div class="form-group padding-bottom10">
                            <input class="col-md-4 btn btn-primary" type="submit" value="Enviar" data-toggle="tooltip" title="Clique aqui para enviar" data-placement="bottom" />
                        </div>
                    </fieldset>
                </form>
            </article>
        </section>

        <article class="positionleft font25px absolute padding22">
            <p><b>CONTATO</b></p>
            <br>

            <p>
                RUA MARIA GERMANI<br>
                18053-030-, Nº:883<br>
                JULIO DE MESQUITA<br>
                <br>
                TEL:(15)3202-5270<br>
                E-MAIL:<b>NIPPES@HOTMAIL.COM</b>
            </p>
        </article>

        <footer class="rodape textcenter">
            <p>© RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA TEL:(15)32025270 | E-MAIL: NIPPES@HOTMAIL.COM </p>
            <figure>
                <figcaption>CONECTE-SE</figcaption>
                <img src="img/iconeeees.png" alt="icones"  class="icones" />
            </figure> <p> <a href="home.html"> Home </a> | <a href="catalogo.html"> Catalogo </a> | <a href="pedidos.html">  Pedidos </a>| <a href="cadastro.html"> Login</a> | <a href="faleconosco.html"> Sobre Nós</a> </p>
            <p class="gray"> © RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA TEL:(15)32025270 | E-MAIL: NIPPES@HOTMAIL.COM 
        </footer>
    </body>
</html>