<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" media="all" href="bootstrap/css/bootstrap.css" />
        <script type="text/javascript" src="bootstrap/js/jquery.js" ></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.js" ></script> 

        <link href="css/estilo.css" rel="stylesheet" type="text/css" media="screen">
        <title>Nippes Estamparia</title>
    </head>

    <body>
        <header class="century">
            <nav class="first">
                <img class="logotipo" src="img/logo.png"/> <b class="font15px">| ESTAMPARIA </b>
                <ul class="cabecalhotopo">
                    <li><a href="cadastro.html"> LOGIN | CRIE SUA CONTA</a></li>
                    <li><a>Facebook | Google </a></li>
                </ul>		
            </nav>
            <nav class="firstcabecalho">
                <ul class="cabecalho">
                    <li><a href="home.html"> HOME </a></li>
                    <li><a href="pedidos.html"> PEDIDOS</a></li>
                    <li><a href="catalogo.html"> CATÁLOGO</a></li>
                    <li><a href="faleconosco.html"> CONTATO</a></li>
                    <li><a href="SobreNos.html"> SOBRE</a></li>
                </ul>
                <div class="pesquisa absolute">
                    <input type="text"/>
                    <button>I</button>

                    <img class="carrinho relative" src="img/carrinho2.png" /> 
                </div>	
            </nav>
        </header>

            <section class='banner'>
            <div id='myCarousel' class='carousel slide container alturaSlide col-lg-12' data-ride='carousel'>
                <ol class='carousel-indicators container padding'>
                    <li data-target='#myCarousel' data-slide-to='1'></li>
                    <li data-target='#myCarousel' data-slide-to='2'></li>
                    <li data-target='#myCarousel' data-slide-to='3'></li>
                </ol>
                <div class='carousel-inner' role='listbox' >
                    <div class='item container alturaSlide'>
                        <img src='img/imagens/img5.jpg' alt='img2' />
                    </div>
                    <div class='item active container alturaSlide'>
                        <img src='imagens/img8.png' alt='img2' />
                    </div>
                    <div class='item container alturaSlide'>
                        <img src='imagens/img8.png' alt='img2' />
                    </div>
                    <a class='left carousel-control' href='#myCarousel' role='button' data-slide='prev'>
                        <span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span>
                        <span class='sr-only'>Previous</span>
                    </a>
                    <a class='right carousel-control' href='#myCarousel' role='button' data-slide='next'>
                        <span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span>
                        <span class='sr-only'>Next</span>
                    </a>	
                </div>
            </div>
        </section>	
        <section class='textcenter'>
            <header>
                <h1 class='font33px'>Conheça nossas promoçoes e nossas variedades de estampas!</h1>
            </header>
            <figure class='figcaptionlateral'>
                <img width='300px' height='300px' src='img/home/home1.jpg' title='Camisa'/>
                <figcaption>
                    <a href='#'>	A partir de <b>R$64,90</b> </a>
                </figcaption>
            </figure>	
            <figure class='figcaptionlateral'>
                <img width='300px' height='300px' src='img/home/home2.jpg' title='Camisa' />
                <figcaption>
                    <a href='#'>A partir de <b>R$64,90</b></a>
                </figcaption>
            </figure>	
            <figure class='figcaptionlateral'>
                <img width='300px' height='300px' src='img/home/home3.jpg' title='Camisa' />
                <figcaption>
                    <a href='#'>A partir de <b>R$64,90</b></a>
                </figcaption>
            </figure>	
            <figure class='figcaptionlateral'>
                <img width='300px' height='300px' src='img/home/home4.jpg' title='Camisa' />
                <figcaption>
                    <a href='#'>A partir de <b>R$64,90</b></a>
                </figcaption>
            </figure>	
            <section class='imagenspromo'>
                <figure>
                    <img width='600px' height='300px' src='img/banner1.jpg' title='Camisa'/>
                    <figcaption>
                        <a href='#'>	NIPPES ESTAMPAS</a>
                        <p class='textjustify textblack'>Nada melhor que renovar seu guarda-roupa com as nossas novidades. Transforme-se com os produtos que trazem as últimas tendências de qualidade</p>
                    </figcaption>
                </figure>

                <figure>
                    <img width='600px' height='300px' src='img/banner2.jpg' title='Camisa' />
                    <figcaption>
                        <a href='#'>NIPPES ESTAMPAS</b></a>
                        <p class='textjustify textblack'>Nada melhor que renovar seu guarda-roupa com as nossas novidades. Transforme-se com os produtos que trazem as últimas tendências de qualidade</p>
                    </figcaption>
                </figure>	
            </section>
        </section>
        
        <footer class="rodape textcenter">
            <p>© RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA TEL:(15)32025270 | E-MAIL: NIPPES@HOTMAIL.COM </p>
            <figure>
                <figcaption>CONECTE-SE</figcaption>
                <img src="img/iconeeees.png" alt="icones"  class="icones" />
            </figure> <p> <a href="home.html"> Home </a> | <a href="catalogo.html"> Catalogo </a> | <a href="pedidos.html">  Pedidos </a>| <a href="cadastro.html"> Login</a> | <a href="faleconosco.html"> Sobre Nós</a> </p>
            <p class="gray"> © RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA TEL:(15)32025270 | E-MAIL: NIPPES@HOTMAIL.COM 
        </footer>
    </body>
</html>