<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" media="all" href="bootstrap/css/bootstrap.css" />
        <script type="text/javascript" src="bootstrap/js/jquery.js" ></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.js" ></script> 

        <link href="css/estilo.css" rel="stylesheet" type="text/css" media="screen">
        <title>Nippes Estamparia</title>
    </head>

    <body>

        <header class="century">
            <nav>
                <figure class="fig">
                    <img class="logotipo" src="img/logo.png"/> <b class="font15px">| ESTAMPARIA </b>
                    <ul class="cabecalhotopo">
                        <li><a href="cadastro.html"> LOGIN | CRIE SUA CONTA</a></li>
                        <li><a>Facebook | Google </a></li>
                    </ul><br>
                </figure>			
                <ul class="cabecalho">
                    <li><a href="home.html" style="text-decoration:none"> HOME </a></li>
                    <li><a href="pedidos.html" style="text-decoration:none"> PEDIDOS</a></li>
                    <li><a href="catalogo.html" style="text-decoration:none"> CATÁLOGO</a></li>
                    <li><a href="faleconosco.html" style="text-decoration:none"> CONTATO</a></li>
                    <li class="margin-left40"><a href="cadastro.html" style="text-decoration:none"></a></li>					
                    <li>
                        <div class="padding10">
                            <input type="text"/>
                            <button>I</button>
                        </div>
                    </li>
                    <li>
                        <img class="carrinho" alt="carrinho" src="img/carrinho2.png"/>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="margin-left12">
            <p class="font33px"> Carrinho  <img src="img/carrinho2.png"/></p>
            <figure>
                <figcaption class="margin-left">
                    <table style="width:50%">
                        <tr>
                            <td><p class="font25px"><b>Seu carrinho está VAZIO!</b></td>
                            <td></td> 
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div>

                                </div>
                            </td>
                            <td>

                                <div>
                            </td>



                        </tr>
                        <tr>
                            <td><a href="catalogo.html"> Venha Conhecer nossas camisetas!</a></td>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                </figcaption>
            </figure>		
        </section>












        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>








        <footer class="rodape">
            <p class="textcenter">© RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA TEL:(15)32025270 | E-MAIL: NIPPES@HOTMAIL.COM </p>
            <figure class="textcenter">
                <figcaption class="textcenter">CONECTE-SE</figcaption>
                <img class="icones textcenter" src="img/iconeeees.png" alt="icones" />
            </figure> <p class="textcenter"> Home | Catalogo | Pedidos | Login | Sobre Nós </p>
            <p class="textcenter gray"> © RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA TEL:(15)32025270 | E-MAIL: NIPPES@HOTMAIL.COM 
        </footer>
        <!--
        <footer class="telefone">
        © RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA
                                                                                                                                                                                TEL:(15)32025270 |
        E-MAIL: NIPPES@HOTMAIL.COM
        </footer> -->
    </body>
</html>