<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" media="all" href="bootstrap/css/bootstrap.css" />
        <script type="text/javascript" src="bootstrap/js/jquery.js" ></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.js" ></script> 

        <link href="css/estilo.css" rel="stylesheet" type="text/css" media="screen">
        <title>Nippes Estamparia</title>
    </head>

    <body>
        <header class="century">
            <nav class="first">
                <img class="logotipo" src="img/logo.png"/> <b class="font15px">| ESTAMPARIA </b>
                <ul class="cabecalhotopo">
                    <li><a href="cadastro.html"> LOGIN | CRIE SUA CONTA</a></li>
                    <li><a>Facebook | Google </a></li>
                </ul>		
            </nav>
            <nav class="firstcabecalho">
                <ul class="cabecalho">
                    <li><a href="home.html"> HOME </a></li>
                    <li><a href="pedidos.html"> PEDIDOS</a></li>
                    <li><a href="catalogo.html"> CATÁLOGO</a></li>
                    <li><a href="faleconosco.html"> CONTATO</a></li>
                    <li><a href="SobreNos.html"> SOBRE</a></li>
                </ul>
                <div class="pesquisa absolute">
                    <input type="text"/>
                    <button>I</button>

                    <img class="carrinho relative" src="img/carrinho2.png" /> 
                </div>	
            </nav>
        </header>
        
        <section class='margin-left3'>
            <p class='font33px'> Carrinho  <img src='img/carrinho2.png' width='30px'/></p>
            <figure>
                <img class='floatleft' width='150px' height='150px' src='img/home/home2.jpg' title='Camisa' />
                <figcaption class='margin-left12'>
                    <table style='width:50%'>
                        <tr>
                            <td><a href='#' class='font25px'><b>Until The Very End</b></a></td>
                            <td>Cor: Roxo</td> 
                            <td><p class='font20px'>Preço: R$ 50,00</p></td>

                        </tr>
                        <tr>
                            <td><p class='font20px'>Camiseta Until The Very End</p></td>
                            <td>
                                <div>
                                    <p>Quantidade:
                                        <select id='quantidade' name='quantidade' data-toggle='tooltip' title='Informe a quantidade' data-placement='bottom' />
                                    <option value=''></option>
                                    <option value=''>GG</option></p>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div>Tamanho:
                                    <select id='tamanho' name='tamanho' data-toggle='tooltip' title='Informe o tamanho da camiseta' data-placement='bottom' />
                                    <option value=''></option>
                                    <option value=''>P</option>
                                    <option value=''>M</option>
                                    <option value=''>G</option>
                                    <option value=''>GG</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href='#'> <img src='img/lixinho.png' width='20px'/> Remover Produto</a></td>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                </figcaption>
            </figure>		
            <section class='margin-left60 top'>
                <p class='font25px whitecolor'>TOTAL: R$ 50,00
                <div class='upper'>
                    <input class='col-lg-3 col-md-6 col-sm-6 col-xs-6 btn btn-primary2' type='submit' value='FINALIZAR COMPRA' data-toggle='tooltip' title='Clique aqui para Finalizar sua Compra' data-placement='bottom'/>
                </div>	
            </section>
        </section>
        
        <footer class="rodape textcenter">
            <p>© RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA TEL:(15)32025270 | E-MAIL: NIPPES@HOTMAIL.COM </p>
            <figure>
                <figcaption>CONECTE-SE</figcaption>
                <img src="img/iconeeees.png" alt="icones"  class="icones" />
            </figure> <p> <a href="home.html"> Home </a> | <a href="catalogo.html"> Catalogo </a> | <a href="pedidos.html">  Pedidos </a>| <a href="cadastro.html"> Login</a> | <a href="faleconosco.html"> Sobre Nós</a> </p>
            <p class="gray"> © RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA TEL:(15)32025270 | E-MAIL: NIPPES@HOTMAIL.COM 
        </footer>
    </body>
</html>