<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" media="all" href="bootstrap/css/bootstrap.css" />
        <script type="text/javascript" src="bootstrap/js/jquery.js" ></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.js" ></script> 

        <link href="css/estilo.css" rel="stylesheet" type="text/css" media="screen">
        <title>Nippes Estamparia</title>
    </head>

    <body>
        <header class="century">
            <nav class="first">
                <img class="logotipo" src="img/logo.png"/> <b class="font15px">| ESTAMPARIA </b>
                <ul class="cabecalhotopo">
                    <li><a href="cadastro.html"> LOGIN | CRIE SUA CONTA</a></li>
                    <li><a>Facebook | Google </a></li>
                </ul>		
            </nav>
            <nav class="firstcabecalho">
                <ul class="cabecalho">
                    <li><a href="home.html"> HOME </a></li>
                    <li><a href="pedidos.html"> PEDIDOS</a></li>
                    <li><a href="catalogo.html"> CATÁLOGO</a></li>
                    <li><a href="faleconosco.html"> CONTATO</a></li>
                    <li><a href="SobreNos.html"> SOBRE</a></li>
                </ul>
                <div class="pesquisa absolute">
                    <input type="text"/>
                    <button>I</button>

                    <img class="carrinho relative" src="img/carrinho2.png" /> 
                </div>	
            </nav>
        </header>
        <section class='margin-left12'>
            <p class='font33px'> Carrinho  <img class="carrinho" src='img/carrinho2.png'/></p> <!-- Add class Carrinho -->
            <figure>
                <figcaption class='margin-left'>
                    <table style='width:50%'>
                        <tr>
                            <td><p class='font25px'><b>Seu carrinho está VAZIO!</b></td>
                            <td></td> 
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div>

                                </div>
                            </td>
                            <td>

                                <div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href='catalogo.html'> Venha Conhecer nossas camisetas!</a></td>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                </figcaption>
            </figure>		
        </section>
        <footer class="rodape textcenter">
            <p>© RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA TEL:(15)32025270 | E-MAIL: NIPPES@HOTMAIL.COM </p>
            <figure>
                <figcaption>CONECTE-SE</figcaption>
                <img src="img/iconeeees.png" alt="icones"  class="icones" />
            </figure> <p> <a href="home.html"> Home </a> | <a href="catalogo.html"> Catalogo </a> | <a href="pedidos.html">  Pedidos </a>| <a href="cadastro.html"> Login</a> | <a href="faleconosco.html"> Sobre Nós</a> </p>
            <p class="gray"> © RUA MARIA GERMANI CEP: 18053030, Nº883 - JULIO DE MESQUITA TEL:(15)32025270 | E-MAIL: NIPPES@HOTMAIL.COM 
        </footer>
    </body>
</html>