<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		 <link rel="stylesheet" type="text/css" media="all" href="../bootstrap/css/bootstrap.css" />
		 <link rel="stylesheet" type="text/css" media="all" href="../bootstrap/jquery-ui/jquery-ui.css" />
		 
		<script src="../bootstrap/js/jquery.js" ></script>
		<script src="../bootstrap/js/bootstrap.js" ></script> 
		<script src="../bootstrap/jquery-ui/jquery-ui.js" ></script>
		<script src="../javascript.js" ></script>
				
		<link href="css/estilo.css" rel="stylesheet" type="text/css" media="screen">
		<link href="css/estiloadm.css" rel="stylesheet" type="text/css" media="screen">
	
		<title>Nippes Estamparia</title>
	</head>
	<body>		
		<header>
			<figure>
				<img class="logotipo" src="img/logo.png" width="150px" height="50px" />
			</figure>
			<figure class="user">
				<img src="img/user.png" width="50px" height="50px" />
			</figure>
			<h1 class="admin"><a href="#">Admin<h1>
		</header>
			<nav class="espacoentre">
				<ul> 																																					<br>
					<li><a class="espacoentre" href="ADMprodutos.html"> PRODUTOS</a></li>
					<li><a class="espacoentre" href="ADMcliente.html"> CLIENTE</a></li>
					<li><a class="espacoentre" href="ADMcontato.html"> CONTATO</a></li>
					<li><a class="espacoentre" href="ADMID.html"> ID INFORM</a></li>
					<li><a class="espacoentre" href="ADMpromocao.html"> PROMOÇÕES</a></li>
					<li><a class="espacoentre" href="ADMvenda.html"> ORCAMENTOS</a></li>
				</ul>
		</nav>

		<article class="itencadastro2">
			<h1 class="titlecoisas"> Contato Cliente</h1>
			<form class="form" method="POST" action="editProduto.php">
				<fieldset class="col-md-3 scheduler-border">

				<fieldset>
				<legend>Contato</legend>
					<div class="form-group">
						<label for="icpfcliente">CPF Cliente:</label>
						<input type="text" class="form-control focused" id="cpfcliente" name="cpfcliente" data-toggle="tooltip" title="CPF" data-placement="bottom" />
					</div>
					<div class="form-group">
						<label for="icpfcliente">Id-Contato:</label>
						<input type="text" class="form-control focused" id="idcontato" name="idcontato" data-toggle="tooltip" title="Id Contato" data-placement="bottom" />
					</div>
					<div class="form-group">
						<label for="idtipo">Tipo: </label>
						<select class="form-control focused" id="tipo" name="idtipo" data-toggle="tooltip" title="Informe o tipo de contato" data-placement="bottom" >
							<option value="0">Selecione uma opção...</option>
							<option value="telefone">Telefone</option>
							<option value="email">E-mail</option>
							<option value="endereco">Endereço</option>
						</select>
					</div>
					<div class="form-group">
						<label for="idproduto">Endereço do Contato acima </label>
						<input type="text" class="form-control focused" id="contatocliente" name="contatocliente" data-toggle="tooltip" title="Informe de acordo com o que selecionou" data-placement="bottom" />
					</div>
					<div class="form-group">
					<input class="col-md-10 btn btn-primary" type="submit" value="Entre em Contato" data-toggle="tooltip" title="contato" data-placement="bottom" />
					</div>	
				</fieldset>
				</fieldset>
			
			</form>		
		</article>	

	</body>
</html>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!--
	<form class="form" method="POST" action="CadCamiseta.php">
	<fieldset class="col-md-2 scheduler-border">
	<legend class="scheduler-border">Cadastrar camisetas</legend>
	<fieldset>
		<legend>Camiseta</legend>
		<div class="form-group">
			<label for="modelo">Modelo camiseta: </label>
			<input type="text" class="form-control focused" id="modelo" name="modelo" data-toggle="tooltip" title="Preencha o modelo da camiseta" data-placement="bottom" />
		</div>
		<div class="form-group">
			<label for="tipo">Tipo: </label>
			<input type="text" class="form-control focused" id="tipo" name="tipo" data-toggle="tooltip" title="Preencha o tipo da camiseta" data-placement="bottom" />
		</div>
		<div class="form-group">
			<label for="marca">marca: </label>
			<input type="text" id="marca" class="form-control focused" name="marca" data-toggle="tooltip" title="Informe o marca da camiseta" data-placement="bottom" />
		</div>
		<div class="form-group">
			<label for="cor">Cor: </label>
			<input type="color" class="form-control focused" id="cor" name="cor" data-toggle="tooltip" title="Informe se quer uma cor especifica na gola ou na manga" data-placement="bottom" />
		</div>
		<div class="form-group">
			<label for="tamanho">Tamanho: </label>
			<input type="text" class="form-control focused" id="tamanho" name="tamanho" data-toggle="tooltip" title="Informe o tamanho da camiseta" data-placement="bottom" />
		</div>
	</fieldset> -->
		
		
	</body>
</html>