<!doctype html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		 <link rel="stylesheet" type="text/css" media="all" href="../bootstrap/css/bootstrap.css" />
		 <link rel="stylesheet" type="text/css" media="all" href="../bootstrap/jquery-ui/jquery-ui.css" />
		 
		<script src="../bootstrap/js/jquery.js" ></script>
		<script src="../bootstrap/js/bootstrap.js" ></script> 
		<script src="../bootstrap/jquery-ui/jquery-ui.js" ></script>
		<script src="../javascript.js" ></script>
		
		<link href="css/estilo.css" rel="stylesheet" type="text/css" media="screen">
		<link href="css/estiloadm.css" rel="stylesheet" type="text/css" media="screen">
		
		<title>Nippes Estamparia</title>
	</head>
	<body class="background">		
		<header>
			<figure>
				<img class="logotipo" src="img/logo.png" width="150px" height="50px" />
			</figure>
			<figure class="user">
				<img src="img/user.png" width="50px" height="50px" />
			</figure>
			<h1 class="admin"><a href="#"><h1>
		</header>
		<article class="itencadastro3">
			<div class="center">
				<form class="form" method="POST" action="editProduto.php">
					<fieldset class="col-md-5 scheduler-border">
						<fieldset>
						<legend class="titleadmin">Entrar como Admin</legend>
							<div class="form-group">
								<label for="usario">Usuário:</label>
								<input type="text" class="form-control focused" id="usuario" name="usuario" data-toggle="tooltip" title="Informe seu Username" data-placement="bottom" />
							</div>
							<div class="form-group">
								<label for="icpfcliente">Senha:</label>
								<input type="text" class="form-control focused" id="senha" name="senha" data-toggle="tooltip" title="Informe sua Senha" data-placement="bottom" />
							</div>
							<div class="form-group">
								<input class="col-md-10 btn btn-primary" type="submit" value="Entrar" data-toggle="tooltip" title="Entre" data-placement="bottom" />
							</div>	
						</fieldset>
					</fieldset>
				</form>	
			</div>
		</article>	
	</body>
</html>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!--
	<form class="form" method="POST" action="CadCamiseta.php">
	<fieldset class="col-md-2 scheduler-border">
	<legend class="scheduler-border">Cadastrar camisetas</legend>
	<fieldset>
		<legend>Camiseta</legend>
		<div class="form-group">
			<label for="modelo">Modelo camiseta: </label>
			<input type="text" class="form-control focused" id="modelo" name="modelo" data-toggle="tooltip" title="Preencha o modelo da camiseta" data-placement="bottom" />
		</div>
		<div class="form-group">
			<label for="tipo">Tipo: </label>
			<input type="text" class="form-control focused" id="tipo" name="tipo" data-toggle="tooltip" title="Preencha o tipo da camiseta" data-placement="bottom" />
		</div>
		<div class="form-group">
			<label for="marca">marca: </label>
			<input type="text" id="marca" class="form-control focused" name="marca" data-toggle="tooltip" title="Informe o marca da camiseta" data-placement="bottom" />
		</div>
		<div class="form-group">
			<label for="cor">Cor: </label>
			<input type="color" class="form-control focused" id="cor" name="cor" data-toggle="tooltip" title="Informe se quer uma cor especifica na gola ou na manga" data-placement="bottom" />
		</div>
		<div class="form-group">
			<label for="tamanho">Tamanho: </label>
			<input type="text" class="form-control focused" id="tamanho" name="tamanho" data-toggle="tooltip" title="Informe o tamanho da camiseta" data-placement="bottom" />
		</div>
	</fieldset> -->
		
		
	</body>
</html>